<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AdminReviewPage</title>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>ADMIN PAGE</title>
<link href="styles.css" rel="stylesheet" />
<link href="adminPage.css" rel="stylesheet" />
<link
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" crossorigin="anonymous" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js"
	integrity="sha512-yadYcDSJyQExcKhjKSQOkBKy2BLDoW6WnnGXCAkCoRlpHGpYuVuBqGObf3g/TdB86sSbss1AOP4YlGSb6EKQPg=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">레스토랑 예약 시스템</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/admin_page">AdminPage</a> <a
					class="nav-item nav-link" href="/admin_table">Table</a> <a
					class="nav-item nav-link" href="/admin_review">Review</a> <a
					class="nav-item nav-link" href="/admin_menu">Menu</a> <a
					class="nav-item nav-link" href="/sample/menu">SampleMenu</a> <a
					class="nav-item nav-link" href="/sample/bookin">Booking</a>
			</div>
		</div>
	</nav>
	<div id="main">
		<div class="card mb-4">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered text-center">
						<thead>
							<tr>
								<th style="width: 20%;">리뷰 번호</th>
								<th style="width: 20%;">맛</th>
								<th style="width: 20%;">서비스</th>
								<th style="width: 20%;">총평</th>
								<th style="width: 20%;">삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Test</td>
								<td>Test</td>
								<td>Test</td>
								<td><button class="btn btn-primary btn-sm">삭제</button></td>
							</tr>
							<tr>
								<td>2</td>
								<td>Test</td>
								<td>Test</td>
								<td>Test</td>
								<td><button class="btn btn-primary btn-sm">삭제</button></td>
							</tr>
							<tr>
								<td>3</td>
								<td>Test</td>
								<td>Test</td>
								<td>Test</td>
								<td><button class="btn btn-primary btn-sm">삭제</button></td>
							</tr>
							<tr>
								<td>4</td>
								<td>Test</td>
								<td>Test</td>
								<td>Test</td>
								<td><button class="btn btn-primary btn-sm">삭제</button></td>
							</tr>
							<tr>
								<td>5</td>
								<td>Test</td>
								<td>Test</td>
								<td>Test</td>
								<td><button class="btn btn-primary btn-sm">삭제</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>