<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin Page</title>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>ADMIN PAGE</title>
<link href="styles.css" rel="stylesheet" />
<link href="adminPage.css" rel="stylesheet" />
<link
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" crossorigin="anonymous" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js"
	integrity="sha512-yadYcDSJyQExcKhjKSQOkBKy2BLDoW6WnnGXCAkCoRlpHGpYuVuBqGObf3g/TdB86sSbss1AOP4YlGSb6EKQPg=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">레스토랑 예약 시스템</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			<a class="nav-item nav-link" href="/admin_page">AdminPage</a> 
				<a class="nav-item nav-link" href="/admin_table">Table</a> 
				<a class="nav-item nav-link" href="/admin_review">Review</a>
				<a class="nav-item nav-link" href="/admin_menu">Menu</a> 
				<a class="nav-item nav-link" href="/sample/menu">SampleMenu</a>
				<a class="nav-item nav-link" href="/sample/bookin">Booking</a>
			</div>
		</div>
	</nav>
	<div id="main">
		<h1>Admin Page</h1>
		<p>여기는 관리자만 들어올 수 있습니다</p>

		<h1 class="mt-4">일간 예약 현황</h1>
		<div class="card mb-4">
			<div align="right">
				<input type="date" id="startDate" name="조회날짜" min="2020-12-31"
					max="2022-12-31"> <span> ~ </span><input type="date"
					id="endDate" name="조회날짜" min="2020-12-31" max="2022-12-31">
				<button id="refresh_line_chart" class="btn btn-secondary">refresh!</button>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<canvas id="myChart"></canvas>
				</div>
			</div>
		</div>

		<h1 class="mt-4">고객 예약 정보</h1>

		<div class="card mb-4">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>예약번호</th>
								<th>이름</th>
								<th>전화번호</th>
								<th>인원수</th>
								<th>날짜</th>
								<th>시간</th>
								<th>테이블</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
		crossorigin="anonymous"></script>
	<script src="adminPage.js"></script>
</body>
</html>